/* src/components/home/HeroSection/HeroSection.module.css */

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5e5e5e;
  background: linear-gradient(to right, #eeeeee, #5e5e5e);
  overflow: hidden; /* Previne que qualquer barra de rolagem apareça */
}

.heroContent {
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna no mobile */
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  animation: fadeIn 1s ease-in-out;
  width: 100vw;
  height: 100vh;
}

/* === ESTILOS PARA MOBILE === */

.heroImgContainer {
  width: 90%;
  margin-bottom: 2rem;
}

.heroImg {
  width: 100%;
  height: auto;
}

.heroInfosContainer {
  width: 100%;
}

.logoHero {
  width: 70%;
  max-width: 12rem;
  height: auto;
}

/* ==================================== */

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.subtitle {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  font-weight: 400;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.ctaButton {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.ctaButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === ESTILOS PARA DESKTOP === */
@media (min-width: 768px) {
  .heroContent {
    flex-direction: row;
  }
  
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .ctaButton {
    padding: 15px 30px;
    font-size: 1.1rem;
  }

  .logoHero {
    width: 15rem;
    max-width: none;
  }

  .heroImgContainer {
    width: 50rem;
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    margin-bottom: 0;
  }

  .heroImg {
    width: 100%;
  }

  .heroInfosContainer {
    z-index: 1;
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }
}