/* src/components/layout/DesktopSearch/DesktopSearch.module.css */
.searchContainer {
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1002; /* Acima de outros elementos */
  display: none; /* Escondido por padrão, aparece no desktop */
  align-items: center;
  justify-content: flex-end; /* Alinha tudo à direita */
}

@media (min-width: 993px) {
  .searchContainer {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.searchButton {
  /* Estilo mais moderno: remover o fundo escuro e borda forte */
  background-color: transparent; /* Fundo transparente */
  border: none; /* Sem borda */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #eeeeee; /* Cor do ícone mais discreta */
  transition: all 0.2s; /* Transição mais suave para todas as propriedades */
  z-index: 1000; /* Garante que o botão fique acima do input */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Remove a sombra inicial */
  position: absolute;
  top: 0rem;
}

.searchButton:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Um leve fundo azul claro no hover */
  color: #007bff; /* Ícone azul no hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil no hover */
}

.searchInput {
  height: 50px;
  border: 1px solid #ccc; /* Adiciona uma borda sutil ao input */
  background-color: #f9f9f9; /* Fundo claro para o input */
  color: #333; /* Texto escuro */
  padding: 0 1rem;
  padding-right: 55px; /* Espaço para não escrever por baixo do botão */
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
  
  /* Lógica da animação */
  width: 0;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 0;
}

.searchContainer.open .searchInput {
  width: 300px;
  opacity: 1;
  transform: translateX(0);
}